.model-tile-icon {
    left: 10px;
    top: 10px;
    background-color: #202020;
}

.border-selectable:hover {
    background-color: var(--unity-colors-default-background);
}

.model-tile.is-selected .border-selectable {
    border-color: var(--aitk-colors-selected);
}